
	<h1>The <%=@test_passage.test.title %> test completed</h1>

	<div>
	  <% if @test_passage.passed_successfully? %>
	    <mark class='success'><%= @test_passage.right_answers_percent %></mark><br>
	    Test passet!!
	  <% else %>
	    <mark class='fail'><%= @test_passage.right_answers_percent %></mark><br>
	    Try again
	  <% end %>
	</div>
